go 1.21.5

use (
	./clean_architecture
	./database/orm/basic_crud
	./database/orm/relationships/belongs_to
	./database/standard
	./foundation/packages
	./testing/mock
	./testing/standard
	./testing/testify
	./sqlc
)
